//- VARIABLES
-var headerfirstlist = [{name:'LIBERO.PE'},{name:'ELPOPULAR.PE'},{name:'FUNDACIÓN GUSTAVO MOHME LLONA'}]
-var italic= "<em>por: Gustavo Mohme Llona</em>"
-var headerfirstnav = [{name:'POLÍTICA', url:'#'},{name:'ECONOMÍA', url:'#'},{name:'SOCIEDAD', url:'#'},{name:'ELECC. REGIONALES', url:'#'},{name:'DEPORTES', url:'#'},{name:'CHAMPIONS L.', url:'#'},{name:'ESPECTÁCULOS', url:'#'},{name:'ED. IMPRESA', url:'#'},{name:'REGIONALES', url:'#'},{name:'MÁS SECCIONES', url:'#'}]
