$black: #111417;
$skyblue: #55ACEE;
$blue: #2E6296;
$softsilver: #F4F5F7;
$silver: #F2F2F2;
$darksilver: #768696;
$red: #BA1414;
$Oswald: "Oswald", Arial, sans-serif+!important;
$PTSans: "PT sans", Arial, sans-serif+!important;
$Kameron: "Kameron", Arial, sans-serif+!important;
$OpenSans: "OpenSans", Arial, sans-serif+!important;
$white: #FFFFFF;
$yellow: #FFBF00;
$orange: #FF8000;
$lightsilver: #D5D5D5;
$textsilver: #636363;
$boldblack: #000000;